.App {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(50, 50, 50);
}

.app-div-line {
  height: 3px;
  width: 90vw;
  background: rgb(255, 242, 217);
}